doctype html
html(lang='zh-CN' token='abc' ng-app='fituvd')
    head
        base(href='/')
        meta(name='keywords' content='fitu,fit you')
        meta(charset='utf-8')
        meta(http-equiv='charset' content='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title FITU
        link(rel='shortcut icon' href='#{staticBase}/app/image/webclientshared/icon.png' type='image/x-icon')
        link(rel='icon' href='#{staticBase}/app/image/webclientshared/icon.png' type='image/ico')

        script.
            var siteInfo = {staticBase: '#{staticBase}', apiBase: '#{apiBase}', domain: '#{domain}'};

        //common
        link(rel='stylesheet' href='#{staticBase}/app/css/libs/bootstrap-datetimepicker.min.css')
        
        script(src='http://api.map.baidu.com/api?v=2.0&ak=NMZtgy57uBz7oPB2dtPRsq6G')
        //app scripts
        if (env != 'prod')
            link(rel='stylesheet' href='#{staticBase}/app/css/libs/bootstrap/dist/css/bootstrap.css')
            link(rel='stylesheet' href='#{staticBase}/app/css/libs/bootstrap-datetimepicker.min.css')
            link(rel='stylesheet' href='#{staticBase}/app/css/libs/font-awesome/css/font-awesome.css')
            link(rel='stylesheet' href='#{staticBase}/app/css/libs/jquery-ui/autocomplete.css')
            link(rel='stylesheet' href='#{staticBase}/app/css/libs/jquery-ui/jquery-ui.min.css')
            
            script(src='#{staticBase}/app/js/libs/jquery/dist/jquery.min.js')
            script(src='#{staticBase}/app/js/libs/angular.js')
            script(src='#{staticBase}/app/js/libs/angular-route.js')
            script(src='#{staticBase}/app/js/libs/angular-locale_zh-cn.js')
            script(src='#{staticBase}/app/css/libs/bootstrap/dist/js/bootstrap.js')
            script(src='#{staticBase}/app/js/libs/angular-ui-router.js')
            script(src='#{staticBase}/app/js/libs/moment.min.js')
            script(src='#{staticBase}/app/js/libs/zh-cn.js')
            script(src='#{staticBase}/app/js/libs/bootstrap-datetimepicker.min.js')
            script(src='#{staticBase}/app/js/libs/jquery.cookie.js')
            script(src='#{staticBase}/app/js/libs/sha1.js')
            script(src='#{staticBase}/app/js/libs/statehelper.js')
            script(src='#{staticBase}/app/js/libs/markdown.js')
            script(src='#{staticBase}/app/js/libs/core.min.js')
            script(src='#{staticBase}/app/js/libs/widget.min.js')
            script(src='#{staticBase}/app/js/libs/menu.min.js')
            script(src='#{staticBase}/app/js/libs/autocomplete.min.js')
            
            script(src='#{staticBase}/app/js/vendorwebclient/config.js')
            script(src='#{staticBase}/app/js/vendorwebclient/controllers/main.js')
            script(src='#{staticBase}/app/js/vendorwebclient/controllers/vendor.js')
            script(src='#{staticBase}/app/js/vendorwebclient/controllers/login/login.js')
            script(src='#{staticBase}/app/js/vendorwebclient/controllers/statistics/statistics.js')
            script(src='#{staticBase}/app/js/vendorwebclient/controllers/sites/sites.js')
            script(src='#{staticBase}/app/js/vendorwebclient/controllers/admins/admins.js')
            script(src='#{staticBase}/app/js/vendorwebclient/controllers/profile/profile.js')
            script(src='#{staticBase}/app/js/vendorwebclient/factories/vcconst.js')
            script(src='#{staticBase}/app/js/vendorwebclient/factories/vcdatamodel.js')
            script(src='#{staticBase}/app/js/webclientshared/fitulib.js')
            script(src='#{staticBase}/app/js/webclientshared/fituhtml.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/activity.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/site.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/member.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/footprint.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/vendor.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/url.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/validate.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/user.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/const.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/lang.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/utility.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/messenger.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/pagination.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/datamodel.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/geo.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/message.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/note.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/crypto.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/userfan.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/sitefan.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/wxb.js')
            script(src='#{staticBase}/app/js/webclientshared/factories/markdown.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/imageInput.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/datetimePicker.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/autoComplete.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/messenger.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/loading.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/map.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/focusOut.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/actpreview.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/dropdown.js')
            script(src='#{staticBase}/app/js/webclientshared/directives/noteSyntax.js')
            //script(src='#{staticBase}/app/js/webclientshared/filters/memberStatus.js')
            script(src='#{staticBase}/app/js/webclientshared/filters/datetime.js')
            script(src='#{staticBase}/app/js/webclientshared/filters/wordbarrier.js')
            script(src='#{staticBase}/app/js/webclientshared/filters/sensitiveDatetime.js')
            script(src='#{staticBase}/app/js/webclientshared/filters/tags.js')
            script(src='#{staticBase}/app/js/webclientshared/filters/price.js')
            script(src='#{staticBase}/app/js/webclientshared/filters/siteopen.js')
            script(src='#{staticBase}/app/js/webclientshared/filters/activityDatetime.js')
        else
            link(rel='stylesheet' href='http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css')
            link(rel='stylesheet' href='#{staticBase}/app/css/libs/bootstrap-datetimepicker.min.css')
            link(rel='stylesheet' href='http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css')
            link(rel='stylesheet' href='#{staticBase}/app/css/libs/autocomplete.css')
            
            script(src='http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js')
            script(src='http://cdn.bootcss.com/angular.js/1.3.11/angular.min.js')
            script(src='http://cdn.bootcss.com/angular.js/1.3.11/angular-route.js')
            script(src='http://cdn.bootcss.com/angular-i18n/1.2.15/angular-locale_zh-cn.js')
            script(src='http://cdn.bootcss.com/bootstrap/3.3.1/js/bootstrap.min.js')
            script(src='#{staticBase}/app/js/libs/angular-ui-router.js')
            script(src='#{staticBase}/app/js/libs/moment.min.js')
            script(src='#{staticBase}/app/js/libs/zh-cn.js')
            script(src='#{staticBase}/app/js/libs/bootstrap-datetimepicker.min.js')
            script(src='#{staticBase}/app/js/libs/jquery.cookie.js')
            script(src='#{staticBase}/app/js/libs/sha1.js')
            script(src='#{staticBase}/app/js/libs/statehelper.js')
            script(src='#{staticBase}/app/js/libs/markdown.js')
            script(src='#{staticBase}/app/js/libs/core.min.js')
            script(src='#{staticBase}/app/js/libs/widget.min.js')
            script(src='#{staticBase}/app/js/libs/menu.min.js')
            script(src='#{staticBase}/app/js/libs/autocomplete.min.js')

            script(src='#{staticBase}/app/js/vendorwebclient/built.min.js')
            script(src='#{staticBase}/app/js/webclientshared/built.min.js')
        link(rel='stylesheet' href='#{staticBase}/app/css/vendorwebclient/fitu_vd.css')
        link(rel='stylesheet' href='#{staticBase}/app/css/webclientshared/fitu_sh.css')
    body(style='height:100%;')
        div(ui-view style='height:100%;')